In [1]:
import pandas as pd

In [23]:
structure_energies = pd.read_csv('structure_energies.csv',header=4)
structure_energies

,Model,fGln123,Val51,Structure,Geom opt (Hartee),Geom opt (kcal/mol),Single pt (Hartree),Single pt (kcal/mol)
0,Inactive,Inactive,Inactive,ES,-5709.932,0.000,-5713.909,0.000
1,Inactive,Inactive,Inactive,TS,-5709.928,3.011,-5713.904,3.173
2,Inactive,Inactive,Inactive,INT1,-5709.939,-3.911,-5713.913,-2.874
3,Inactive,Inactive,Inactive,TS1,-5709.895,23.273,-5713.872,23.237
4,Inactive,Inactive,Inactive,INT2,-5709.897,22.427,-5713.868,25.368
5,Inactive,Inactive,Inactive,TS2,-5709.888,28.011,-5713.860,30.523
6,Inactive,Inactive,Inactive,INT3,-5709.897,22.021,-5713.870,24.595
7,Inactive,Inactive,Inactive,TS3,-5709.886,28.883,-5713.866,26.613
8,Inactive,Inactive,Inactive,INT4,-5709.893,24.801,-5713.875,21.293
9,Active,Active,Active,ES,-5709.973,0.000,-5713.938,0.000
10,Active,Active,Active,TS,-5709.947,16.089,-5713.915,14.532
11,Active,Active,Active,INT1,-5709.971,0.961,-5713.937,0.881
12,Active,Active,Active,TS1,-5709.948,15.882,-5713.915,14.494
13,Active,Active,Active,INT2,-5709.962,6.812,-5713.920,11.430
14,Active,Active,Active,TS2,-5709.951,13.615,-5713.911,16.712
15,Active,Active,Active,INT3,-5709.954,12.052,-5713.916,13.763
16,Active,Active,Active,TS3,-5709.941,19.707,-5713.908,18.679
17,Active,Active,Active,INT4,-5709.963,5.986,-5713.930,4.816
18,Inactive fGln123,Inactive,Active,ES,-5709.922,0.000,-5713.900,0.000
19,Inactive fGln123,Inactive,Active,TS1,-5709.900,14.113,-5713.879,12.564
20,Inactive fGln123,Inactive,Active,TS2,-5709.898,15.243,-5713.871,17.651
21,Inactive fGln123,Inactive,Active,TS3,-5709.890,20.114,-5713.871,17.767
22,Inactive Val51,Active,Inactive,ES,-5709.960,0.000,-5713.931,0.000
23,Inactive Val51,Active,Inactive,TS1,-5709.929,19.603,-5713.896,22.476
24,Inactive Val51,Active,Inactive,TS2,-5709.920,25.274,-5713.885,29.051
25,Inactive Val51,Active,Inactive,TS3,-5709.912,30.374,-5713.887,27.758

In [20]:
almo_eda_data = pd.read_csv('almo-eda_data.csv',header=4)
almo_eda_data

,Model,fGln123,Val51,Structure,∆ELEC (kcal/mol),∆SOLV (kcal/mol),∆PAULI (kcal/mol),∆DISP (kcal/mol),∆POL (kcal/mol),∆CT (kcal/mol),∆TOTAL INT E (kcal/mol)
0,Inactive,Inactive,Inactive,ES,-35.39,12.85,23.19,-8.56,-1.67,-3.47,-13.05
1,Inactive,Inactive,Inactive,TS1,-31.00,11.30,20.70,-8.00,-1.20,-3.00,-11.20
2,Inactive,Inactive,Inactive,TS2,-30.30,10.80,20.50,-7.90,-1.20,-3.00,-11.10
3,Inactive,Inactive,Inactive,TS3,-31.90,11.30,21.50,-7.50,-1.50,-3.20,-11.40
4,Active,Active,Active,ES,-88.37,16.34,92.68,-31.94,-4.78,-13.08,-29.15
5,Active,Active,Active,TS1,-86.60,15.10,91.40,-31.60,-4.50,-12.80,-29.00
6,Active,Active,Active,TS2,-86.30,15.30,90.60,-31.40,-4.40,-12.60,-28.80
7,Active,Active,Active,TS3,-87.20,15.30,92.10,-32.20,-4.50,-12.70,-29.10
8,Inactive fGln123,Inactive,Active,ES,-11.11,5.64,5.91,-4.89,-0.16,-0.73,-5.35
9,Inactive fGln123,Inactive,Active,TS1,-9.90,5.10,4.90,-4.60,-0.10,-0.70,-5.30
10,Inactive fGln123,Inactive,Active,TS2,-9.50,4.50,5.60,-4.70,-0.10,-0.70,-5.00
11,Inactive fGln123,Inactive,Active,TS3,-9.30,4.30,5.70,-4.90,-0.20,-0.70,-5.10
12,Inactive Val51,Active,Inactive,ES,-89.54,15.17,94.75,-33.94,-4.36,-12.73,-30.64
13,Inactive Val51,Active,Inactive,TS1,-73.00,14.90,77.10,-31.70,-3.00,-9.60,-25.30
14,Inactive Val51,Active,Inactive,TS2,-72.10,14.70,75.80,-31.80,-2.90,-9.60,-25.80
15,Inactive Val51,Active,Inactive,TS3,-76.40,14.50,81.00,-33.50,-3.00,-10.10,-27.50

In [21]:
nbo_data = pd.read_csv('nbo_data.csv',header=3)
nbo_data

,Model,fGln123,Val51,Structure,Residue,Orbital,Interaction with LP 1,Interaction with LP 2,Interaction with LP 3,Total contribution
0,Active,Active,Active,TS1,Val51,BD*( 1) N 22- C 23,4.25,10.49,NaN,14.74
1,Active,Active,Active,TS1,Gly52,BD*( 1) N 29- H224,3.80,0.24,NaN,4.04
2,Active,Active,Active,TS1,Leu85,BD*( 1) N 39- H154,2.63,0.00,NaN,2.63
3,Active,Active,Active,TS2,Val51,BD*( 1) N 98- H232,7.19,11.31,4.31,22.81
4,Active,Active,Active,TS2,Gly52,BD*( 1) N105- H228,3.43,1.49,3.13,8.05
5,Active,Active,Active,TS2,Leu85,BD*( 1) N 5- H 53,7.71,0.00,8.70,16.41
6,Active,Active,Active,TS3,Val51,BD*( 1) N202- H236,0.00,0.00,NaN,0.00
7,Active,Active,Active,TS3,Gly52,BD*( 1) N203- H232,3.88,5.84,NaN,9.72
8,Active,Active,Active,TS3,Leu85,BD*( 1) N 44- H 68,5.09,4.21,NaN,9.30
9,Inactive fGln123,Inactive,Active,TS1,Val51,BD*( 1) N118- H152,4.79,10.64,NaN,15.43
10,Inactive fGln123,Inactive,Active,TS1,Gly52,BD*( 1) N119- H148,2.74,0.30,NaN,3.04
11,Inactive fGln123,Inactive,Active,TS1,Leu85,BD*( 1) N190- H205,2.51,0.00,NaN,2.51
12,Inactive fGln123,Inactive,Active,TS2,Val51,BD*( 1) N161- H195,7.02,11.62,4.83,23.47
13,Inactive fGln123,Inactive,Active,TS2,Gly52,BD*( 1) N162- H191,3.56,1.46,3.15,8.17
14,Inactive fGln123,Inactive,Active,TS2,Leu85,BD*( 1) N 5- H 29,7.09,0.00,7.96,15.05
15,Inactive fGln123,Inactive,Active,TS3,Val51,BD*( 1) N166- H200,0.06,0.05,NaN,0.11
16,Inactive fGln123,Inactive,Active,TS3,Gly52,BD*( 1) N167- H196,3.70,5.44,NaN,9.14
17,Inactive fGln123,Inactive,Active,TS3,Leu85,BD*( 1) N 8- H 32,4.89,4.17,NaN,9.06
18,Inactive Val51,Active,Inactive,TS1,Gly50,BD*( 2) C206- O215,0.43,0.28,0.06,0.77
19,Inactive Val51,Active,Inactive,TS1,Val51,BD*( 1) C207- H225,0.00,0.00,0.00,0.00
20,Inactive Val51,Active,Inactive,TS1,Gly52,BD*( 1) N203- H233,0.00,0.00,0.00,0.00
21,Inactive Val51,Active,Inactive,TS1,Leu85,BD*( 1) N 43- H 67,6.07,0.00,8.22,14.29
22,Inactive Val51,Active,Inactive,TS2,Gly50,BD*( 2) C207- O216,0.47,0.11,0.06,0.64
23,Inactive Val51,Active,Inactive,TS2,Val51,BD*( 1) C208- H226,0.00,0.00,0.00,0.00
24,Inactive Val51,Active,Inactive,TS2,Gly52,BD*( 1) N204- H234,0.00,0.00,0.00,0.00
25,Inactive Val51,Active,Inactive,TS2,Leu85,BD*( 1) N 44- H 68,7.44,1.69,10.96,20.09
26,Inactive Val51,Active,Inactive,TS3,Gly50,BD*( 2) C207- O216,0.34,0.00,NaN,0.34
27,Inactive Val51,Active,Inactive,TS3,Val51,BD*( 1) C208- H226,0.00,0.00,NaN,0.00
28,Inactive Val51,Active,Inactive,TS3,Gly52,BD*( 1) N204- H234,0.00,0.00,NaN,0.00
29,Inactive Val51,Active,Inactive,TS3,Leu85,BD*( 1) N 44- H 68,4.58,4.57,NaN,9.15
30,Inactive,Inactive,Inactive,TS1,Val51,BD*( 1) C 23- H167,5.86,0.15,NaN,6.01
31,Inactive,Inactive,Inactive,TS1,Gly52,BD*( 1) N 29- H175,0.08,0.34,NaN,0.42
32,Inactive,Inactive,Inactive,TS1,Leu85,BD*( 1) N 39- H156,3.72,0.53,NaN,4.25
33,Inactive,Inactive,Inactive,TS2,Val51,BD*( 1) C 23- H167,5.49,0.24,0.92,6.65
34,Inactive,Inactive,Inactive,TS2,Gly52,BD*( 1) N 29- H175,0.00,0.21,0.33,0.54
35,Inactive,Inactive,Inactive,TS2,Leu85,BD*( 1) N 39- H156,2.88,0.81,4.11,7.80
36,Inactive,Inactive,Inactive,TS3,Val51,BD*( 1) C 23- H167,4.92,0.74,NaN,5.66
37,Inactive,Inactive,Inactive,TS3,Gly52,BD*( 1) N 29- H175,0.00,0.43,NaN,0.43
38,Inactive,Inactive,Inactive,TS3,Leu85,BD*( 1) N 39- H156,0.00,0.00,NaN,0.00